{% extends "index.html.twig" %}

{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="document-title">
                        <h1>Newsletter</h1>

                    </div><!-- /.document-title -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="content">

                            <div class="posts posts-condensed">
                                {% for newsletter in newsletters %}

                                <div class="post">

                                    <div class="post-image">
                                        <a href="blog-detail.html">
                                            <img src="{{asset('img/tmp') }}/product-11.jpg" alt="A Clockwork Origin">
                                        </a>
                                    </div><!-- /.post-image -->

                                    <div class="post-content">
                                        <h2>{{ newsletter.titre }}</h2>
                                        <p>{{ newsletter.publication|date('d-m-Y') }}</p>
                                    </div><!-- /.post-content -->

                                    <div class="post-more">
                                        <a href="{{asset('pdf') }}/{{ newsletter.documentPDF }}">Ouvrir le PDF</a>
                                    </div><!-- /.post-date -->
                                </div><!-- /.post -->
                                {% endfor %}

                            </div><!-- /.posts -->

                            {% include 'lib/search/pager.html.twig' %}


                        </div><!-- /.content -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">

                                <div class="cards-small">
                                        <a class ="btn btn-primary" href="#">S'abonner</a>
                                        <a class ="btn btn-primary" href="#">Se désabonner</a>
                                </div><!-- /.cards-small -->

                            </div><!-- /.widget -->



                            {% include 'lib/widget/archives.html.twig' %}


                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
