{% extends "base.html.twig" %}

{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="document-title">
                        <h1>{{ pageTitle }}</h1>

                    </div><!-- /.document-title -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="content">

                            <div class="posts posts-condensed">
                                {% for newsletter in newsletters %}

                                <div class="post">

                                    <div class="post-image">
                                        <a href="blog-detail.html">
                                            <img src="{{asset('img/tmp') }}/product-11.jpg" alt="A Clockwork Origin">
                                        </a>
                                    </div><!-- /.post-image -->

                                    <div class="post-content">
                                        <h2>{{ newsletter.titre }}</h2>
                                        <p>{{ newsletter.publication|date('d-m-Y') }}</p>
                                    </div><!-- /.post-content -->

                                    <div class="post-more">
                                        <a href="{{asset('pdf') }}/{{ newsletter.documentPDF }}">Ouvrir le PDF</a>
                                    </div><!-- /.post-date -->
                                </div><!-- /.post -->
                                {% endfor %}

                            </div><!-- /.posts -->



                            <div class="pager">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="active"><a>6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div><!-- /.pagination -->


                        </div><!-- /.content -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">
                                {#TODO faire de joli boutton s'abonner/ se désabonner#}

                                <div class="cards-small">
                                        <a class ="btn btn-primary" href="#">S'abonner</a>
                                        <a class ="btn btn-primary" href="#">Se désabonner</a>
                                </div><!-- /.cards-small -->





                            </div><!-- /.widget -->

                            <div class="widget">
                                <h2 class="widgettitle">Archives</h2>

                                <ul class="menu">
                                    <li><a href="#">August <strong class="pull-right">12</strong></a></li>
                                    <li><a href="#">July <strong class="pull-right">23</strong></a></li>
                                    <li><a href="#">June <strong class="pull-right">53</strong></a></li>
                                </ul><!-- /.menu -->
                            </div><!-- /.wifget -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
