{% extends "base.html.twig" %}

{% block content %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">

                    <div class="document-title">
                        <h1>{{ pageTitle }}</h1>

                    </div><!-- /.document-title -->



                    <form class="filter" method="post" action="?">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" placeholder="Mot-clé" class="form-control">
                                </div><!-- /.form-group -->
                            </div><!-- /.col-* -->

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" placeholder="Localité ou Code Postal" class="form-control">
                                </div><!-- /.form-group -->
                            </div><!-- /.col-* -->

                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <select class="form-control" title="Categorie">
                                        {% for categorie in categories %}
                                           <option value=" {{ categorie.slug }} ">{{ categorie.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-* -->
                        </div><!-- /.row -->

                        <hr>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="filter-actions">
                                    <a href="#"><i class="fa fa-close"></i> Réinitialiser</a>
                                </div><!-- /.filter-actions -->
                            </div><!-- /.col-* -->

                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary">Affiner la recherche</button>
                            </div><!-- /.col-* -->
                        </div><!-- /.row -->
                    </form>


                    <h2 class="page-title">
                        {{ stats.nbreDElement }} résultat(s) correspondant(s) à votre recherche

                        <form method="get" action="?" class="filter-sort">
                            <div class="form-group">
{#TODO#}                                 <select title="Trier par">
{#TODO#}                                    <option name="price">Price</option>
{#TODO#}                                    <option name="rating">Rating</option>
{#TODO#}                                    <option name="title">Title</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <select title="Ordre">
                                    <option name="ASC">Asc</option>
                                    <option name="DESC">Desc</option>
                                </select>
                            </div><!-- /.form-group -->
                        </form>
                    </h2><!-- /.page-title -->

                    <div class="cards-row">
                        {% for prestataire in prestataires %}
                        <div class="card-row">
                            <div class="card-row-inner">
{#TODO#}                                <div class="card-row-image" data-background-image="{{asset('img/tmp') }}{#{{ prestataire.image }}#}/product-1.jpg">

                                </div><!-- /.card-row-image -->

                                <div class="card-row-body">
                                    <h2 class="card-row-title"><a href="{{ path('prestataire',{'id': prestataire.id}) }}">{{ prestataire.nom|capitalize }}</a></h2>
                                    <div class="card-row-content">
                                        <p>

                                            {% for categorie in prestataire.categories %}
                                                <a href="{{ path('categorie',{'slug': categorie.slug}) }}">{{ categorie.nom|capitalize }}</a> ,
                                            {% endfor %}
                                        </p>
                                        <div class="card-row-rating">
                                            {% include 'stars.html.twig' %}
                                        </div><!-- /.card-row-rating -->
                                    </div><!-- /.card-row-content -->
                                </div><!-- /.card-row-body -->

                                <div class="card-row-properties">
                                    <dl>
{#TODO#}                                        <dd>Promotion(s) en cours</dd><dt>{# promotion en cours#}</dt>
{#TODO#}                                        <dd>Stage(s) proposé(s)</dd><dt>{# stages#}</dt>
                                    </dl>
                                </div><!-- /.card-row-properties -->
                            </div><!-- /.card-row-inner -->
                        </div><!-- /.card-row -->
                        {% endfor %}
                    </div><!-- /.cards-row -->





                    <div class="pager">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">5</a></li>
                            <li class="active"><a>6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div><!-- /.pagination -->


                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
